<%- include('header', {title: "Admin"});  -%>
    <link rel="stylesheet" href="../public/assets/css/Registration-Form-with-Photo.css">
    </head>

    <body>

        <div class="row">
            <div class="col">
                <!-- Navbar -->
                <%- include('adminNavbar');  -%>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="register-photo">
                    <div class="form-container">
                        <div class="image-holder" style="background-image:url(&quot;../public/img/i-796x409.jpg&quot;);">fg</div>
                        <form method="post" action="http://localhost:8001/api/users" id="createUser" data-toggle="validator" role="form">
                            <h2 class="text-center">
                                <strong>Create</strong> an account.</h2>
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" placeholder="Username" pattern="^[_A-z0-9]{1,}$" maxlength="15" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password (at least 6 characters)" id="password"
                                    required minlength="6">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password_repeat" placeholder="Password (repeat)" required data-match="#password">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="role" value=" ">
                                    <optgroup label="Select Role">
                                        <option value="admin">Admin</option>
                                        <option value="voter-manager">Voter Manager</option>
                                        <option value="candidate-manager">Candidate Manager</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="district">
                                    <optgroup label="Select District">
                                        <option value="Jhapa">Jhapa</option>
                                        <option value="Ilam">Ilam</option>
                                        <option value="Panchthar">Panchthar</option>
                                        <option value="Taplejung">Taplejung</option>
                                        <option value="Morang">Morang</option>
                                        <option value="Sunsari">Sunsari</option>
                                        <option value="Bhojpur">Bhojpur</option>
                                        <option value="Dhankuta">Dhankuta</option>
                                        <option value="Terhathum">Terhathum</option>
                                        <option value="Sankhuwasabha">Sankhuwasabha</option>
                                        <option value="Saptari">Saptari</option>
                                        <option value="Siraha">Siraha</option>
                                        <option value="Udayapur">Udayapur</option>
                                        <option value="Khotang">Khotang</option>
                                        <option value="Okhaldhunga">Okhaldhunga</option>
                                        <option value="Solukhumbu">Solukhumbu</option>
                                        <option value="Dhanusa">Dhanusa</option>
                                        <option value="Mahottari">Mahottari</option>
                                        <option value="Sarlahi">Sarlahi</option>
                                        <option value="Sindhuli">Sindhuli</option>
                                        <option value="Ramechhap">Ramechhap</option>
                                        <option value="Dolakha">Dolakha</option>
                                        <option value="Bhaktapur">Bhaktapur</option>
                                        <option value="Dhading">Dhading</option>
                                        <option value="Kathmandu">Kathmandu</option>
                                        <option value="Kavrepalanchok">Kavrepalanchok</option>
                                        <option value="Lalitpur">Lalitpur</option>
                                        <option value="Nuwakot">Nuwakot</option>
                                        <option value="Rasuwa">Rasuwa</option>
                                        <option value="Sindhupalchok">Sindhupalchok</option>
                                        <option value="Bara">Bara</option>
                                        <option value="Parsa">Parsa</option>
                                        <option value="Rautahat">Rautahat</option>
                                        <option value="Chitwan">Chitwan</option>
                                        <option value="Makwanpur">Makwanpur</option>
                                        <option value="Gorkha">Gorkha</option>
                                        <option value="Kaski">Kaski</option>
                                        <option value="Lamjung">Lamjung</option>
                                        <option value="Syangja">Syangja</option>
                                        <option value="Tanahun">Tanahun</option>
                                        <option value="Manang">Manang</option>
                                        <option value="Kapilvastu">Kapilvastu</option>
                                        <option value="Nawalparasi">Nawalparasi</option>
                                        <option value="Rupandehi">Rupandehi</option>
                                        <option value="Arghakhanchi">Arghakhanchi</option>
                                        <option value="Gulmi">Gulmi</option>
                                        <option value="Palpa">Palpa</option>
                                        <option value="Baglung">Baglung</option>
                                        <option value="Myagdi">Myagdi</option>
                                        <option value="Parbat">Parbat</option>
                                        <option value="Mustang">Mustang</option>
                                        <option value="Dang">Dang</option>
                                        <option value="Pyuthan">Pyuthan</option>
                                        <option value="Rolpa">Rolpa</option>
                                        <option value="Rukum">Rukum</option>
                                        <option value="Salyan">Salyan</option>
                                        <option value="Dolpa">Dolpa</option>
                                        <option value="Humla">Humla</option>
                                        <option value="Jumla">Jumla</option>
                                        <option value="Kalikot">Kalikot</option>
                                        <option value="Mugu">Mugu</option>
                                        <option value="Banke">Banke</option>
                                        <option value="Bardiya">Bardiya</option>
                                        <option value="Surkhet">Surkhet</option>
                                        <option value="Dailekh">Dailekh</option>
                                        <option value="Jajarkot">Jajarkot</option>
                                        <option value="Kailali">Kailali</option>
                                        <option value="Achham">Achham</option>
                                        <option value="Doti">Doti</option>
                                        <option value="Bajhang">Bajhang</option>
                                        <option value="Bajura">Bajura</option>
                                        <option value="Kanchanpur">Kanchanpur</option>
                                        <option value="Dadeldhura">Dadeldhura</option>
                                        <option value="Baitadi">Baitadi</option>
                                        <option value="Darchula">Darchula</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="constituency1" placeholder="Constituency(HOR)" id="constituency1"
                                required >
                            <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="number" name="constituency2" placeholder="Constituency(PR)" id="constituency2"
                                required >
                            <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(35,56,99);">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
        <div class="row">
        </div>
        <style>
            .with-errors {
                height: 20px;
                font-size: 90%;
                color: red;
            }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script>
            $(function () {
                const toast = swal.mixin({
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                $.ajax({
                    method: "GET",
                    url: "/notification",
                    success: function (response) {
                        console.log
                        if (response.toNotify) {
                            toast({
                                type: response.type,
                                title: response.message
                            });
                            $.ajax({
                                method: "GET",
                                url: '/clearNotification'
                            });
                        }
                    }
                });
            });
        </script>
        <script src="https://unpkg.com/sweetalert2@7.21.1/dist/sweetalert2.all.js"></script>
        <%- include('footer'); -%>