<%- include('header', {title: "Contract"});  -%>
<script type="text/javascript" src="../plugins/sweetAlert2/sweetalert2.min.js"></script>

</head>

<body>
    <div class="row">
        <div class="col">
            <!-- Navbar -->
            <%- include('candidate_man_navbar');  -%>
        </div>
    </div>
    <h4>Total Number of FPTP_Candidates: <%= candidates.length %></h4>
    <h4>Total Number of PR_Candidates: </h4>


   
<script type="text/javascript" src="../plugins/bootstrap-validator/validator.min.js"></script>

    <%- include('footer'); -%>