<%- include('header', {title: "Update Candidate"});  -%>
    </head>

    <body>
        <%- include('candidate_man_navbar'); -%>
            <div class="container">
                <%- include('fptp_candidate_form'); %>
            </div>

            
    </body>