<%- include('header', {title: "Update Party"});  -%>
    </head>

    <body>
        <%- include('candidate_man_navbar'); -%>
            <div class="container">
                <%- include('party_registration_form'); %>
            </div>

            
    </body>