<%- include('header', {title: "Election Results"});  -%>

    <div class="container-fluid form-container">


        <div class='row' id='candidate-form'>
            <div class='col-md-6 right'>
                <br />
                <br />
                <center>
                    <img src='/public/img/electioncommission.png' width='128px' height="128px" />
                    <br> निर्वाचन आयोग
                    <h4>प्रतिनिधिसभा सदस्य तथा प्रदेशसभा सदस्य <br/> निर्वाचन नतिजा , २०७५ </h4>



                </center>
            </div>




            <div class='col-md-6 form-padding'>


                <form class="form-horizontal" data-toggle="validator" method="post" action="/api/getResult">
                    <fieldset>




                        <!-- Text input     Candidate For-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm " for="election_type">Election for </label>
                            <div class="col-8">
                                <select required id="election_type_selector" name="election_type" class="form-control form-control-sm">
                                    <option value="" selected hidden>Choose One</option>
                                    <option value="FPTP">FPTP</option>
                                    <option value="PR">PR</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>





                        <!-- Text input     Candidate For-->
                        <div class="form-group row" id="candidate_selector_div">
                            <label class="col-4 col-form-label col-form-label-sm " for="district">Candidate For</label>
                            <div class="col-8">
                                <select required id="candidate_type_selector" name="electedfor" class="form-control form-control-sm">
                                    <option value="" selected hidden>Choose One</option>
                                    <option value="HOR">House of Representatives</option>
                                    <option value="PA">Provisional Assembly</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>



                        <div class="form-group row" id='district_selector_div'>
                            <label class="col-4 col-form-label col-form-label-sm " for="district">District</label>
                            <div class="col-8">
                                <select id="district_selector" name="district" class="form-control form-control-sm" required="required" type="text">
                                    <option value="" selected disabled hidden>Choose One</option>
                                    <% districts.forEach(function(dist){ %>
                                        <option value="<%=dist.district_name %>">
                                            <%=dist.district_name %>
                                        </option>
                                        <% }); %>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>








                        <!-- Constituency Number-->
                        <div class="form-group row" id='constituency_selector_div'>
                            <label class="col-4 col-form-label col-form-label-sm " for="constituency">Constituenty Number
                                <br/> ( निर्वाचन क्षेत्र)</label>
                            <div class="col-8 ">
                                <input class="form-control form-control-sm" type="number" name="constituency">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>



                        <div class="form-group row" id='state_selector_div'>
                            <label class="col-4 col-form-label col-form-label-sm " for="state">State No.
                            </label>
                            <div class="col-8 ">
                                <select id="state_selector" name="state" class="form-control form-control-sm" required="required" type="text">
                                    <option value="" selected disabled hidden>Choose One</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>



                        <div>

                        </div>







                        <!-- Button -->
                        <button id="submitButton" type="submit" name="submit" class="btn btn-primary float-right">Check Result</button>
                        <!--<button id="Test" type="button" class="btn btn-primary" onclick="test()">Test</button> -->


                    </fieldset>
                </form>
            </div>
        </div>
    </div>



    <style>
        .with-errors {
            height: 20px;
            font-size: 90%;
            color: red;
        }

        .form-container {
            padding: 8%;
            background-color: #F1F7FC;
        }

        body {
            background-color: #F1F7FC;
        }

        .right {
            border-right: 1px solid #ccc;
        }

        #candidate-form {
            background-color: white;
            padding: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .form-padding {
            padding: 4%;
        }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


    <script>
        $('#state_selector_div').hide();

        var electionChange = () => {
            var election_type = $('#election_type_selector option:selected').text();

            if (election_type == 'PR') {
                $('#district_selector_div').hide();
                $('#constituency_selector_div').hide();
            } else if (election_type == 'FPTP') {
                $('#district_selector_div').show();
                $('#constituency_selector_div').show();
                $('#state_selector_div').hide();
            }
            console.log(election_type);
        }


        var candidateChange=()=>{
            var election_type = $('#election_type_selector option:selected').text();
            var candidate_type= $('#candidate_type_selector option:selected').text();
            console.log(election_type);
            console.log(candidate_type);

            if(election_type=='PR'  && candidate_type=='Provisional Assembly'){
                $('#state_selector_div').show();
            } else if(election_type=='PR'  && candidate_type=='House of Representatives'){
                $('#state_selector_div').hide();
            }
        }
        $('#election_type_selector').on('change', electionChange);
        $('#candidate_type_selector').on('change', candidateChange);

    </script>