<%- include('header', {title: "Voter Management"});  -%>
    </head>

    <body>
        <%- include('voterNavbar'); -%>
            <div class="container">
                <%- include('voterForm'); %>
            </div>

            
    </body>